* {
    margin: 0;
    padding: 0;
    color: antiquewhite;
    background-color: rgb(62, 136, 200);
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.layout {
    width: 100%;
    max-width: 1440px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

header {
    display: flex;
    flex-direction: column;

}

header>h1 {
    margin-left: 70px;

}

a {
    border: 2mm ridge rgb(0, 67, 126);
    text-decoration: none;
    padding: 5px;
}

.home {
    justify-content: flex-end;
    display: flex;
    margin-right: 30px;
    margin-bottom: 15px;

}

.central {
    width: 100vw;
    height: 50vh;
    object-fit: cover;
    object-position: 0% 30%;
    border: 1mm ridge;
    border-color: whitesmoke;


}

.subtitle {
    text-align: center;
}

.logo {
    width: 200px;
    display: inline;
    margin-left: 250px;
    position: absolute;

}

.about {
    padding-top: 30px;
    display: inline-block;
    margin-left: 550px;
}

dt {
    font-weight: bolder;
    font-size: 30px;
}

dd {
    font-size: 20px;
}

h2 {
    text-align: center;
    margin-left: 500px;
    margin-bottom: 20px;
    text-decoration: none;
    display: inline-block;
    padding: 50px 400px 12px 40px;

}

.mail {
    border: solid rgb(0, 67, 126);
    border-width: 2px;
    line-height: 2.5;
}

.logo-mision {
    width: 200px;
    display: inline;
    margin-left: 100px;
    position: absolute;
}

.mision {
    margin-left: 350px;
    margin-right: 200px;
}

.mision dt {
    line-height: 70px;
    text-decoration: underline;
}

.information {
    text-align: left;
    margin: 10px 300px 12px 300px;
}

section>h5 {
    font-weight: bolder;
    font-size: 35px;
    text-decoration: underline;
    text-decoration-style: double;
}

.note {
    font-weight: lighter;
    font-size: 12px;
}

.sch {
    display: none;
}

article h5 {
    display: inline-block;
    font-weight: bolder;
    font-size: 22px;
}

article p {
    display: inline-block;
    font-weight: normal;
    font-size: 20px;
}

article {
    margin: 10px 30px 25px 0px;
}

footer h3 {
    display: inline-block;
    font-weight: bolder;
    font-size: 30px;

}

footer p {
    display: inline-block;
    font-weight: normal;
    font-size: 20px;
}

footer>a {
    display: inline-block;
    font-weight: normal;
    font-size: 20px;
    margin-right: 50px;
}

.questions {
    margin-right: 100px;
    margin-bottom: 15px;
}

.name {
    margin-right: 400px;
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
}

table,
tr,
th,
td {
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px;
    padding: 5px 50px 5px 1px;

}

.subtitle-p {
    font-weight: normal;
    font-size: 20px;
    text-align: center;
}

.main-rules {
    margin: 5px 300px 2px 300px;

}

#section-rules>h2 {
    margin-left: 0px;
    padding-left: 0px;
    font-weight: bold;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
#section-rules>p{
    font-weight: lighter;
    font-size: 17px;
}
#section-rules{
    margin-bottom: 20px;
}
.abc{
    list-style-type: lower-alpha;
}
.list{
    line-height: 20px;
}
.title-list{
    margin-bottom: 15px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 22px;
}
li{ 
    font-weight: lighter;
    font-size: 17px;
}